/* Reset styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 0.625rem;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 45vh;
  margin-bottom: 20px;
}

.hero {
  border-color: white;
  width: 70vw;
  height: 37vh;
  padding: 1.25rem;
  text-align: left;
}

.hero h1 {
  font-size: 3rem;
  margin: 0 0 1.25rem 0;
}

.hero p {
  font-size: 1.81rem;
}

.products {
  display: flex;
  justify-content: space-around;
  border-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
  width: 70vw;
  padding: 1rem;
}

.products img {
  max-height: 381px;
  max-width: 417px;
}

.employee-profiles {
  display: flex; /* use flexbox layout for the employee profiles */
  flex-wrap: wrap; /* allow the employee profiles to wrap onto multiple lines */
  margin: 0 -10px; /* add negative margin to the left and right sides of the employee profiles */
}

.employee {
  width: 33.333%; /* set the width of each employee profile to 33.333% of the container */
  margin: 0 10px 10px 0; /* add 10px of space on the right and bottom sides of each employee profile */
}

.employee img {
  width: 100%; /* set the width of the images to 100% */
}

.employee h3 {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

.employee p {
  font-size: 0.9em;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
